# Java and Tomcat home
export JAVA_HOME=/Library/Java/Home
export CATALINA_HOME=/Library/Tomcat/Home
export NODE_PATH=/usr/local/lib/node_modules
export AAS_CONFIG_DIR=/conf

# Make vim the default editor
export EDITOR="/usr/local/bin/mate -w"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:ls *"

export GEM_HOME=/usr/local/Cellar/gems/1.8
export PATH=/usr/local/bin:$PATH:$GEM_HOME/bin

export MAVEN_OPTS='-Xmx1024m -XX:MaxPermSize=512m'
