# Java and Tomcat home
export JAVA_HOME=/Library/Java/Home
export CATALINA_HOME=/usr/local/opt/tomcat/libexec
export TOMCAT_HOME=$CATALINA_HOME
export NODE_PATH=/usr/local/lib/node_modules
export AAS_CONFIG_DIR=/conf
export ANDROID_SDK_ROOT=/usr/local/opt/android-sdk/
export ANDROID_HOME=$ANDROID_SDK_ROOT
export GRADLE_HOME=/usr/local/opt/gradle/libexec
export MAVEN_HOME=/usr/local/opt/maven/libexec
export GROOVY_HOME=/usr/local/opt/groovy/libexec
export GLASSFISH_HOME=/usr/local/opt/glassfish/libexec
export ANT_HOME=/usr/local/opt/ant/libexec
export AWS_RDS_HOME=/usr/local/opt/rds-command-line-tools/libexec
export AWS_IAM_HOME=/usr/local/opt/aws-iam-tools/libexec
export AWS_CREDENTIAL_FILE=$HOME/.aws-credentials-master

export EC2_PRIVATE_KEY="$(if [ -f $HOME/.ec2/pk-*.pem ]; then echo $(/bin/ls $HOME/.ec2/pk-*.pem | /usr/bin/head -1); else echo ''; fi)"
export EC2_CERT="$(if [ -f $HOME/.ec2/cert-*.pem ]; then echo $(/bin/ls $HOME/.ec2/cert-*.pem | /usr/bin/head -1); else echo ''; fi)"


export SSL_CERT_FILE=/usr/local/opt/curl-ca-bundle/share/ca-bundle.crt


# Make sublime the default editor
export EDITOR="/usr/bin/subl -w"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

export GEM_HOME=/usr/local/Cellar/gems

export MAVEN_OPTS="-Xss4m -Xmx2048m -Xms2048m -XX:MaxPermSize=1024m -XX:PermSize=1024m"
export GRADLE_OPTS="-Xss4m -Xmx2048m -Xms2048m -XX:MaxPermSize=1024m -XX:PermSize=1024m"
export JAVA_TOOLS_OPTS="-Djava.awt.headless=true"

#Ensure GUI apps get this
launchctl setenv PATH $PATH
launchctl setenv AAS_CONFIG_DIR $AAS_CONFIG_DIR
launchctl setenv MAVEN_OPTS "$MAVEN_OPTS"
launchctl setenv MAVEN_HOME "$MAVEN_HOME"
launchctl setenv GRADLE_OPTS "$GRADLE_OPTS"
launchctl setenv ANDROID_SDK_ROOT "$ANDROID_SDK_ROOT"
launchctl setenv ANDROID_HOME "$ANDROID_HOME"
launchctl setenv JAVA_HOME "$JAVA_HOME"
launchctl setenv ANT_HOME "$ANT_HOME"
launchctl setenv GRADLE_HOME "$GRADLE_HOME"
launchctl setenv GROOVY_HOME "$GROOVY_HOME"
launchctl setenv TOMCAT_HOME "$TOMCAT_HOME"
launchctl setenv CATALINA_HOME "$CATALINA_HOME"
launchctl setenv GLASSFISH_HOME "$GLASSFISH_HOME"
